.Dashboard {
    flex: 1;
    padding: 20px;
    height: 100%;
}

.grid {
    flex: 1;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr minmax(200px, 300px);
    grid-template-rows: 120px 1fr 1fr 1.5fr;
    gap: 10px;
}

.card {
    background: linear-gradient(107deg, #3D3D3D 8.78%, #1F1F1F 92.99%);
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    padding: auto;
    transition: transform 0.25s;
}

.card-info {
    margin-top: 5px;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.card-info .button {
    align-self: flex-end;
    font-size: 18px;
}

.dashboard-icon {
    font-size: 40px;
    margin-right: 10px;
}

.balance, .expenses, .income, .savings {
    grid-column: span 1;
}

.balance {
    background: linear-gradient(130deg, #15AD70 3.21%, #09472E 94.09%);
}

.finances-analytics {
    grid-row: 2 / 4;
    grid-column: 1 / 3;
}

.expenses-analytics {
    grid-row: 2 / 4;
    grid-column: 3 / 5;
}

.accounts {
    grid-row: 1 / 3;
    grid-column: 5 / 6;
}

.budgets-container {
    grid-row: 3 / 5;
    grid-column: 5 / 6;
    display: flex;
    padding: 0 auto;
    margin: 0;
}

.transactions {
    grid-row: 4 / 5;
    grid-column: 1 / 5;
}

.card:hover {
    transform: scale(1.01);
}
