.card-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.select-month {
    display: flex;
    align-items: center;
    font-size: 10px;
    color: #797979;
}

.icon-side {
    font-size: 14px;
}

.icon-side {
    cursor: pointer;
}

.budgets-list {
    max-height: 400px;
    overflow-y: auto; /* Enables vertical scrolling */
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
    padding: 0 auto;
    margin-top: 10px;
}

span {
    font-size: 10px;
}