.card-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.budgets-list {
    padding: 0 auto;
    margin-top: 10px;
}

.select-month {
    display: flex;
    align-items: center;
    font-size: 10px;
    color: #797979;
}

.icon-side {
    font-size: 14px;
}

.icon-side {
    cursor: pointer;
}