form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

input, select {
    margin: 10px auto;
    display: flex;
    width: 304px;
    height: 41px;
    padding: 8px 21px;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #5D5D5D;
    border: none;
}

.button-txn {
    width: 200px;
    height: 40px;
    margin-top: 20px;
    padding: 8px 42px;
    border-radius: 15px;
    background: #15AD70;
}

.button-txn:hover {
    background: #378465;
}