.account-container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 100%;
    border-bottom: #797979 solid 1px;
    padding: 0 5px;
}

.account-info {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.account-container h4, .account-container p {
    font-weight: normal;
    text-transform: capitalize;
}
h4 {
    font-size: 14px;
}
p {
    font-size: 14px;
}

.account-container:hover {
    background-color: rgb(253, 249, 249, .05);
    border-radius: 5px;
    border: none;
}
