header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100px;
    /* padding: 21px 36px; */
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}



header .user-icon {
    height: 40px;
    width: 40px;
    color: #F1F0F5;
}

header h1 {
    color: #F1F0F5;

    /* H1 */
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}