.btn {
    cursor: pointer;
}

.button-add {
    background-color: #067045;
    width: 50px;
    border-radius: 5px;
    transition: background-color .25s;
}

.button-add:hover {
    background-color: transparent;
    border: 1px solid #15AD70;
    color: #15AD70;
    font-weight: bold;
}

