.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;  /* Ensure it appears above everything */
  overflow: hidden;  /* Prevent scrolling in the background */
}

.modal {
  background: linear-gradient(107deg, #3D3D3D 8.78%, #1F1F1F 92.99%);
  padding: 30px;
  margin: 0;
  border-radius: 15px;
  position: relative;
  min-width: 200px;
  min-height: 200px;
  display: flex;
  justify-content: center;
  z-index: 1001;  /* Ensure the modal content is above the overlay */
  overflow-y: auto;  /* Enable scrolling inside the modal if content overflows */
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 12px;
  cursor: pointer;
}

.close-button:hover {
  color: #E15E42;
}