.Transaction {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 16px;
    text-transform: capitalize;
    align-items: center;
    height: 35px;
    border-bottom: #797979 solid 1px;
    width: 100%;
}

.transaction-content {
    display: flex;
    align-items: center;
    gap: 10px; /* Space between items */
    width: 100%;
}

.Transaction p {
    margin: 0;
    padding: 0 10px;
    width: 20%;
    font-size: 12px;
}

.amount {
    text-align: right;
}

.icon-txn {
    font-size: 20px;
    width: 50px;
}

.income-txn .icon-txn {
    color: #83D25D;
}

.expense-txn .icon-txn {
    color: #E15E42;
}

.transaction-content:hover {
    background-color: rgb(253, 249, 249, .1);
    border-radius: 5px;
    border: none;
}